	// 显示菜单
	/**
	 * ${0:选择的菜单项}
	 */
	const r$CURRENT_SECONDS_UNIX = await(() => {
		const list = [$1];	// 按钮的文字数组，数组长度最大为 6
		const color = '${2:#000000}';	// 按钮的文字颜色
		return awx14(itemList, color);
	})();